<div class="favorite">
  <h1>⭐ Your favorites recipes ⭐</h1>

  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
</div>
