<div class="header">
  <div class="header__main">
    <img class="header__main--logo" src="assets/Logo.png" alt="Logo Recipe" />
    <div *ngIf="isAuthenticated$ | async; then logged; else notLogged"></div>
  </div>
  <div class="header__menu">
    <ul>
      <li>
        <a
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          >Foods</a
        >
      </li>
      <li>
        <a
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="favorites"
          >Favorites</a
        >
      </li>
      <li>
        <a
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="ingredients"
          >Ingredients</a
        >
      </li>
      <li>
        <a
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="about"
          >About me</a
        >
      </li>
    </ul>
  </div>
</div>

<ng-template #notLogged>
  <div class="header__main--user">
    <div class="user--login">
      <img src="assets/profileIcon.svg" alt="User Profile" />
      <a routerLink="auth/login">
        <h3>Log in</h3>
      </a>
    </div>
  </div>
</ng-template>
<ng-template #logged>
  <div class="header__main--user">
    <div class="user--login">
      <div class="user--login__prof">
        <img src="assets/profileIcon.svg" alt="User Profile" />
        <a routerLink="edit">
          <h3>{{ name }}</h3>
        </a>
      </div>
      <img
        (click)="setLogout()"
        class="user--login__logout"
        src="../../../assets/logout.svg"
        alt="Logout"
      />
    </div>
  </div>
</ng-template>
