<div class="container__ingredients">
  <div class="container__ingredients--input">
    <h1>Type the ingredients that you want to use in your meal</h1>
    <form [formGroup]="formInput" (ngSubmit)="onSearch()">
      <input
        formControlName="ingredients"
        type="text"
        placeholder="rice, beans, chicken"
      />
    </form>
  </div>

  <div *ngIf="isLoading; else recipes">
    <img src="../../../assets/spinner.svg" alt="" />
  </div>

  <ng-template #recipes>
    <div class="container__ingredients--recipes">
      <app-item-recipe
        *ngFor="let recipe of recipeArr"
        [id]="recipe.id"
        [title]="recipe.title"
        [image]="recipe.image"
      ></app-item-recipe>
    </div>
  </ng-template>
</div>
