<div class="container__list">
  <h1>🍛 Amazing recipes for you 🍛</h1>

  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>

  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>

  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
  <app-item-recipe [id]="1"></app-item-recipe>
</div>
