<div signup>
  <label for="name">Name</label>
  <input type="text" placeholder="Name" formControlName="name" name="name" />

  <label for="email">Email</label>
  <input
    name="email"
    placeholder="Email"
    type="email"
    email
    formControlName="email"
  />

  <label for="password">Password</label>
  <input
    name="password"
    placeholder="Password"
    type="password"
    formControlName="password"
  />

  <label for="confirmPassword">Confirm Password</label>
  <input
    name="confirmPassword"
    type="password"
    formControlName="confirmPassword"
  />
</div>
